@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
nav {
  display: flex;
  -webkit-box-shadow: 5px 1px 22px -3px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 1px 22px -3px rgba(0, 0, 0, 0.49);
}

.logo {
  margin: auto;
  flex-grow: 1;
  color: hsl(345deg 100% 47%);
}

.container {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.board {
  margin: 2rem;
}

.row {
  display: flex;
  position: relative;
}

.box {
  width: 4rem;
  height: 4rem;
  margin: 0.3rem;
  border-radius: 5px;
  font-size: 2rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ans {
  font-size: 2rem;
  align-items: center;
  opacity: 1;
  visibility: visible;
  display: flex;
  transition: visibility 0s, opacity 1s linear;
  margin: 0.3rem;
  position: absolute;
  right: -111px;
  top: 12px;
}

.outline {
  background-color: transparent;
  border: 1px solid gray;
}

.hide {
  /* display: none;
  transition: opacity 1s ease-out;
  opacity: 0; */
  visibility: hidden;
  opacity: 0;
}

.btn-pushable {
  margin: 0.3rem;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: rgba(255, 6, 6, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.btn-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.btn-front {
  width: 1rem;
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  .btn-front {
    font-size: 1.25rem;
  }
}

.btn-pushable:hover {
  filter: brightness(110%);
}

.btn-pushable:hover .btn-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn-pushable:active .btn-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.btn-pushable:hover .btn-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn-pushable:active .btn-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.btn-pushable:focus:not(:focus-visible) {
  outline: none;
}

.text {
  font-size: 16pt;
}

.shake {
  animation: tilt-shaking 0.25s infinite;
  border-color: red;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(78, 78, 78);
  color: white;
  text-align: center;
  padding: 0.3rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.right {
  background-color: #019267;
  color: white;
  transition: background-color 1s, color 1s;
}

.right-edge {
  background: linear-gradient(
    to left,
    hsl(162deg 99% 16%) 0%,
    hsl(162deg 100% 32%) 8%,
    hsl(162deg 100% 32%) 92%,
    hsl(162deg 100% 16%) 100%
  ) !important;
}

.right-shadow {
  background: #01926796;
}
.partly {
  background-color: #f0a500;
  color: white;
  transition: background-color 1s, color 1s;
}

.partly-edge {
  background: linear-gradient(
    to left,
    hsl(41deg 99% 16%) 0%,
    hsl(41deg 100% 47%) 8%,
    hsl(41deg 100% 47%) 92%,
    hsl(41deg 100% 16%) 100%
  ) !important;
}

.partly-shadow {
  background: #f0a4009b;
}

.wrong {
  background-color: #1b1a17;
  color: white;
  transition: background-color 1s, color 1s;
}

.wrong-edge {
  background: linear-gradient(
    to left,
    hsl(45deg 8% 5%) 0%,
    hsl(45deg 8% 20%) 8%,
    hsl(45deg 8% 20%) 92%,
    hsl(45deg 8% 5%) 100%
  ) !important;
}

.wrong-shadow {
  background: #1b1a178f;
}

.ngBtn-hover.color {
  /* background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  ); */
  font-size: 19pt;
  background-image: linear-gradient(
    to right,
    #fd297e,
    #f86733,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.ngBtn-hover {
  height: 55px;
  width: 200px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.ngBtn-hover:hover {
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.links {
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
}

.openModalIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 17pt;
  color: #f0003c;
  border-radius: 50%;
  margin-right: 1.5rem;
  cursor: pointer;
}

.openModalIcon:hover {
  transition: background-color 0.3s;
  background-color: rgba(0, 0, 0, 0.123);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  transition: background-color 0.3s;
  background-color: rgba(0, 0, 0, 0.123);
}

.modal-header {
  padding: 2px 16px;
}

.modal-body {
  padding: 2px 16px;
  margin-bottom: 2rem;
}

.modal-title {
  text-align: center;
}

.modal-statistics {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 6rem;
  height: 6rem;
}

.card-number {
  font-size: 19pt;
  font-weight: bold;
}

.modal p {
  margin: 0;
}

.text-not-found {
  font-size: 14pt;
  text-align: center;
}

.margin-auto {
  margin: auto;
}
